/* Style global pour la bannière de consentement */
.consent-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.consent-content {
  max-width: 800px;
  text-align: center;
}

/* Style pour le texte et le lien de la bannière */
.consent-banner p {
  margin: 0;
  font-size: 1rem;
  color: var(--primary-white);
  line-height: 1.5;
}

.privacy-link {
  color: var(--primary-orange);
  margin-left: 8px;
  text-decoration: underline;
  font-weight: bold;
}

.privacy-link:hover {
  color: var(--hover-orange);
}

/* Bouton d'acceptation et de rejet */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.accept-button {
  background-color: var(--primary-orange);
  color: var(--primary-white);
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-button:hover {
  background-color: var(--hover-orange);
}

.reject-button {
  background-color: transparent; /* Fond transparent */
  color: var(--primary-white); /* Couleur du texte */
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid var(--primary-white); /* Bordure blanche */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition sur fond et couleur */
}

.reject-button:hover {
  background-color: var(--primary-white); /* Fond blanc au survol */
  color: var(--primary-black); /* Texte en noir au survol */
}
