.countries-page { 
    padding: 20px;
    margin: 20px auto;
    width: 100%;
}
  
.title-country {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-black);
    margin-bottom: 20px;
}
  
/* Styles pour la carte */
.leaflet-container {
    width: 100%;
    height: 500px;
    background-color: #f4f4f4;
}
  
/* Styles pour le Popup */
.leaflet-popup-content-wrapper {
    background-color: var(--primary-black);
    color: var(--primary-white);
    border-radius: 8px; /* Ajoute un style arrondi au popup */
}
  
.leaflet-popup-content {
    position: relative;
    padding-right: 20px; /* Pour éviter de chevaucher la croix */
}

.leaflet-popup-content a {
    color: var(--primary-orange);
    text-decoration: underline;
}
  
.leaflet-popup-content a:hover {
    color: var(--hover-orange);
    text-decoration: none;
}

/* Style pour le bouton de fermeture */
.close-popup {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}
  
.close-popup:hover {
    color: var(--primary-orange);
}
