.footer {
  background-color: var(--primary-black);
  color: var(--primary-white);
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  color: var(--primary-white);
  font-size: 24px; /* Taille des icônes */
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #ddd;
}

/* Styles pour la version responsive (rien à changer, les icônes resteront alignées à l'horizontale) */
@media (max-width: 768px) {
  .footer ul {
    flex-direction: row; /* Assure l'affichage en ligne même sur petits écrans */
    gap: 10px; /* Ajuste l'espacement entre les icônes si nécessaire */
  }
}
